@use "_var" as *;

header {
  padding: 1rem 2%;

  border-bottom: 1px solid $border-color;

  /* flex 関連 */
  display: flex;
  flex-direction: row;
  justify-content: space-between; // 2要素をできるだけ離す
  align-items: center;

  /* ロゴ */
  a {
    font-size: 2rem;
    font-weight: bold;

    /* flex 関連 */
    display: inline-flex;
    align-items: center;
    gap: 0.2em;
    color: $black;

    &:focus,
    &:hover {
      background: $white;
      text-decoration: none;
    }
  }

  nav {
    display: inline-flex;
    align-items: center;
    gap: 0;

    a {
      padding: 1rem;
      color: $black;
      font-size: 1.3em;
      font-weight: normal;
      background-color: transparent;
      line-height: 1rem;

      &:hover {
        background-color: $rust-color;
        color: $white;
        text-decoration: none;
      }
    }
  }
}
