@use "_var" as *;

section {
  width: 100%;
  border-bottom: 1px solid $border-color;

  /* flex関連 */
  display: flex;
  align-items: center;
  justify-content: center;

  &:last-of-type {
    border-bottom: none;
  }

  div.section-container {
    width: 100%;
    max-width: 60%;
  }
}
