// a {
//   text-decoration: underline;

//   &:link {
//     color: $link-base-color;
//   }

//   &:visited {
//     color: $link-visi-color;
//   }

//   &:focus,
//   &:hover {
//     text-decoration: none;
//     color: $white;
//     background: $link-base-color;
//   }

//   &:active {
//     background: $white;
//     color: $link-base-color;
//   }
// }
