/* 変数用 */
$primary-color: #f7cdc7;
$secondary-color: #2c3e50;
$rust-color: #ce422b;
$rust-orange: #f74c00;
$warning-bg: #fef3c7;
$warning-text: #92400e;

$white: #fff;
$black: #000;
$gray-100: #f7fafc;
$gray-600: #718096;
$gray-700: #4a5568;

$font-family: "Helvetica Neue", Arial, sans-serif;
$container-width: 960px;
$max-width-4xl: 56rem; // 896px

// 汎用
$text-color: #222;
$border-color: #aaa;

// <a>リンク関連
$link-base-color: #00e;
$link-visi-color: #70f;
$link-hove-background-color: #841;

// ヘッダーとフッター
$link-toppage-color: $text-color;

//
$container-margin-bottom: 0.4em;
