@font-face {
    font-family: 'mplus';
    src: url('/fonts/MPLUS1p-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,body {
    font-family: 'mplus', sans-serif;
    margin: 0;
}

header{
    position: fixed;
    background-color: #fff;
    display: flex;
    width: 100svw;
    left: 0;
    top: 0;
}
header img{
    height: 40px;
    margin: 5px 10px;
}
header h1{
    margin: auto 0;
    font-size: 24px;
}

#top {
    position: relative;
    width: 300px;  /* 適宜調整 */
    height: 300px;
}

#top img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.rotate-img {
    animation: rotateAndScale 10s cubic-bezier(0.65, 0, 0.35, 1) infinite;
    transform-origin: center;
}

@keyframes rotateAndScale {
    0% {
        transform: rotate(0deg) scale(1); /* 開始 */
    }
    5% {
        transform: rotate(36deg) scale(1.1); /* 少し拡大 */
    }
    45% {
        transform: rotate(648deg) scale(1); /* 回転中に元サイズに戻す */
    }
    50% {
        transform: rotate(720deg) scale(1); /* 2回転完了 */
    }
    100% {
        transform: rotate(720deg) scale(1); /* 5秒停止 */
    }
}