{% extends "base.html" %} {% block content %}

<section>
  <div
    id="top-container"
    class="section-container"
  >
    <div>
      <h1 class="top-title">
        Rust<br />
        Developers JP
      </h1>
      <a
        class="btn-primary btn-large"
        href="https://discord.com/invite/Nus2xg3nF3"
        >参加する</a
      >
    </div>
    <div>
      <img class="" src="{{ get_url(path="img/rust-dev-jp.png") }}" alt="rust dev jp logo"
      width="100" height="100">
    </div>
  </div>
</section>

<section id="about-section">
  <div
    id="about-container"
    class="section-container"
  >
    <div>
      <h2>Rust Developers JPとは?</h2>
      <p>
        Rust Developers JP は，Rust を日本語で学びたい方や意見を交わしたい方のための Discord
        コミュニティです．日本には既に大きな Rust コミュニティ（rust-jp）が存在しますが，Discord
        上で活動する場が限られていたため，本コミュニティを設立しました．Discord は洗練された UI
        や豊富な Bot 機能，高品質な通話など，開発者同士の交流に適した環境が整っています．
      </p>
      <a
        class="btn-primary"
        href="/about"
        >もっと見る</a
      >
    </div>
    <div class="about-image">
      <img src="{{ get_url(path="img/ferris.svg") }}" alt="about illustration" width="600"
      height="600">
    </div>
  </div>
</section>

<!-- ニュースセクション -->
<section
  id="news"
  class="news-section"
>
  <h2>お知らせ</h2>
  <ul class="news-list">
    <li class="news-item">
      <a
        class="news-title rust-gradation"
        href="/posts/000001"
        >公式サイト(仮)をリリースしました！</a
      >
      <p class="news-date">2025年12月20日</p>
      <p class="news-description">まだ制作途中ですが，公式サイトをリリースしました．</p>
    </li>
  </ul>
  <a
    class="btn-primary"
    href="/posts"
    >もっと見る</a
  >
</section>

<!-- 参加を促すセクション -->
<section
  id="join-us"
  class="join-section"
>
  <h2>さあ，私たちと一緒に Rust を学びましょう!</h2>
  <p>
    Rust Developers JP は，初心者から経験豊富な開発者まで，すべてのレベルの Rust
    プログラマーを歓迎します．質問がある場合や，プロジェクトについて話し合いたい場合，または単に
    Rust
    コミュニティの一員になりたい場合は，ぜひ参加してください．私たちはあなたを歓迎し，サポートする準備ができています！
  </p>
  <a
    class="btn-primary"
    href="https://discord.com/invite/Nus2xg3nF3"
    >参加する</a
  >
</section>

{% endblock content %}
