h2 {
  font-size: 2em;
}

.rust_gradation {
  background: linear-gradient(90deg, #c7240b, #f3644e, #ce412b);
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  animation: rustMove 6s ease-in-out infinite alternate;
}

@keyframes rustMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.top_logos {
  position: absolute;
  right: -40vh;
  display: grid;
  place-items: center;
}
#top img {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  width: 90vh;
  height: 90vh;
}

.top_img_rotate {
  animation: rotate_logo 10s ease-in-out infinite;
  transform-origin: center;
}

@keyframes rotate_logo {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.top_img_scale {
  animation: scale_logo 10s linear infinite;
  transform-origin: center;
}

@keyframes scale_logo {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(0.95);
  }
  45% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.news-item h2,
.news-item a {
  margin: 0;
  text-decoration: none;
  color: #222;
}
.news-item {
  padding: 10px;
  cursor: pointer;
}
.news-item:hover {
  background-color: #ffffff55;
}
.news-item p {
  margin: 2px 0;
}
.news_more,
.about_more {
  text-align: center;
  display: block;
  text-decoration: none;
  color: var(--rust-red);
  padding: 10px 0;
}

.news_more:hover,
.about_more:hover {
  background-color: #ffffff55;
}
#newses hr {
  margin: auto;
  width: calc(100% - 10px);
}

.bg_red_gradient {
  background: linear-gradient(135deg, #ffffffe6, #f3b4ab);
}
