@use "../_var" as *;

#about-section {
  background: $primary-color;
}

#about-container {
  height: 45vh;

  position: relative;
  /* flex関連 */

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  padding: 3rem 1rem;

  .top-title {
    font-size: 3.75rem;
    line-height: 1;
  }

  .top-logos {
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    display: grid;
    place-items: center;

    img {
      grid-area: 1 / 1;
    }
  }
}
